doctype html
html
    head
        title Chart page
        link(type='text/css', rel='stylesheet', href='/stylesheets/rickshaw.min.css')
        link(type='text/css', rel='stylesheet', href='/stylesheets/jquery-ui.css')



        script(src='/javascripts/jquery-2.1.1.min.js')
        script.
            //jQuery.noConflict();
            jQuery.noConflict();
        script(src='/javascripts/d3.min.js')
        script(src='/javascripts/d3.layout.min.js')
        script(src='/javascripts/jquery-ui.min.js')
        script(src='/javascripts/rickshaw.min.js')
        script(src='/javascripts/extensions.js')
        script(src='/javascripts/ui-util.js')
        script(src='/javascripts/main.js')
    body
        div(id='chart_container')
            div(id='chart', class='rickshaw_graph')
                div(class='detail')
            div(id='legend_container')
                div(id='smoother', title='Smoothing')
                div(id='legend', class='rickshaw_legend')     
            div(id='slider')
        script.
            fetchHistory();
